body {
  border-top: .2em solid #c83737;
  margin: 0;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

header {
  text-align: center;
}

header, main, footer {
  margin: 0 auto;
}

footer {
  color: #888;
  max-width: 40em;
  border-top: 1px solid #eee;
  margin-bottom: 4em;
}

header {
  margin-top: 4em;
  padding-bottom: 1em;
}

main {
  max-width: 40em;
  padding-top: 0;
  padding: 0 4em 4em 4em;
  text-align: left;
}

body {
  font-family: "San Francisco", "Helvetica", "Helvetica Neue", "Lucida Sans", "Arial", sans-serif;
  color: #000;
}

p {
  line-height: 150%;
}

h1, h2 {
  font-weight: 400;
}
.links{
    text-align: center;
}
/* Responsive Type Sizing */

@media (min-width: 480px) {
  :root {
    font-size: calc(0.75rem + ((1vw - 4.8px) * 1.6667));
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  background-image: linear-gradient(0deg,#badaff 38%,transparent 0);
  display: inline-block;
  font-size: 2em;
}

.leed {
  color: #c83737;
  font-family: Georgia, serif;
  text-align: center;
}

.b {
  font-weight: bolder;
}
